extends ../layout

block assets
	link(rel='stylesheet', href='/css/signin.css')

block content
	.container
		form.form-signin(role="form",action="/auth/login",method="post")
			h2.form-signin-heading Speak
				//- CU: Verify the connection and to show their state.
				span#cf-connection-state.cf-state-badge.badge RTC offline
			if code == 1
				span(class="label label-danger") Bad credentials.
			input.cf-form-control.form-control(type="text",placeholder="Email address",name="username",required autofocus)
			input.cf-form-control.form-control(type="password",placeholder="Password",name="password",required)
			label.checkbox
				input(type="checkbox",value="remember-me")
				| Remember me
			button.btn.btn-lg.cf-btn-success.btn-success.btn-block(type="submit") Sign in