extends ../layout

block assets
	link(rel='stylesheet', href='/css/signin.css')

block content
	.container
		form.form-signin(role="form",action="/auth/login",method="post")
			h2.form-signin-heading Please sign in
			if code == 1
				span(class="label label-danger") Bad credentials.
			input.form-control(type="text",placeholder="Email address",name="username",required autofocus)
			input.form-control(type="password",placeholder="Password",name="password",required)
			label.checkbox
				input(type="checkbox",value="remember-me")
				| Remember me
			button(class="btn btn-lg btn-primary btn-block",type="submit") Sign in