doctype html
html(lang="en",ng-app="speakrtc",ng-cloak)
	head
		block title
			title {{ title }}

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		meta(name="description",content="")
		meta(name="author",content="")
		link(rel="shortcut icon",href="/img/favicon.png")

		include styles

		//- Block assets to external css include by other template .jade.
		block assets

		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//
			[if lt IE 9]
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
			<![endif]

	body.cf-speakrtc(ng-class="{'cf-body-admin': user.is_admin}")
		if(user)
			//- Block to show messages socket only for admins.
			if(user.is_admin)
				a#socket-admin-notifications.navbar-fixed-top
					.container
						small(style="display:none;")

				#quick-last-logs.cf-slide-down
					.container.cf-container
						.col-lg-5.cf-total-list-logs
							small

						.col-lg-7
					.container
						.col-lg-12
							a#cf-btn-slide-down-close.btn.btn-xs.btn-block.cf-btn-close(role="button") Close

			.cf-navbar.navbar.navbar-fixed-top.navbar-default(role="navigation",ng-class="{'cf-navbar-admin': user.is_admin}")
				.container.cf-container
					.navbar-header
						button.cf-navbar-toggle.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.cf-navbar-brand.navbar-brand(href="/") Speak
							//- CU: Verify the connection and to show their state.
							span#cf-connection-state.cf-state-badge.badge disconnected

					.collapse.navbar-collapse
						ul.nav.cf-navbar-nav.navbar-nav
							li(ng-class="{'/rooms':'active', false:''}[pathLocation]")
								a(ng-href="#/rooms") Rooms
							if (user.is_admin)
								li(ng-class="{'/users':'active', false:''}[pathLocation]")
									a(ng-href="#/users") Users

								li(ng-class="{'/logs':'active', false:''}[pathLocation]")
									a(ng-href="#/logs") Logs

						//- Block to show user logged.
						ul.nav.cf-navbar-nav.navbar-nav.navbar-right
							li.dropdown
								a.dropdown-toggle(href="#",data-toggle="dropdown")
									strong #{ user.name }
									if(user.is_admin)
										small  - ADMIN
									b.caret
								ul.dropdown-menu
									li
										//- CU: Logout.
										a(href="/auth/logout") Logout

		block content

		footer.cf-footer
			.cf-navbar.navbar.navbar-fixed-bottom.navbar-default(role="navigation")

		include scripts