//- jQuery (necessary for Bootstrap's JavaScript plugins).
script(src='/vendors/jquery.min.js')
//- Bootstrap's JavaScript.
script(src='/vendors/bootstrap/js/bootstrap.min.js')

//- Gritter plugin of notifications.
script(src='/vendors/gritter/js/jquery.gritter.min.js')

//- Socket.io.
script(src="/socket.io/socket.io.js")

//- easyRTC Library to use WebRTC.
script(src="/vendors/easyrtc/easyrtc.min.js")

//- Functions.
script(src='/js/functions.js')

//- Angularjs.
script(src='/vendors/angularjs/angular.min.js')
script(src='/vendors/angularjs/angular-resource.min.js')
script(src='/js/app/app.js')

//- Factories Angularjs.
script(src='/js/app/factories/socket.js')
script(src='/js/app/factories/user.js')
script(src='/js/app/factories/room.js')

//- Controllers Angularjs.
script(src='/js/app/controllers/socket.js')
script(src='/js/app/controllers/user.js')
script(src='/js/app/controllers/room.js')

//- Services Angularjs.
script(src='/js/app/services/webrtc.js')

//- Directives Angularjs.
