//- jQuery (necessary for Bootstrap's JavaScript plugins).
script(src='/vendors/jquery.min.js')
//- Bootstrap's JavaScript.
script(src='/vendors/bootstrap/js/bootstrap.min.js')

//- Gritter plugin of notifications.
script(src='/vendors/gritter/js/jquery.gritter.min.js')

//- Functions.
script(src='/js/functions.js')

//- Angularjs.
script(src='/vendors/angularjs/angular.min.js')
script(src='/vendors/angularjs/angular-resource.min.js')
script(src='/js/app/app.js')

// Factories Angularjs.
script(src='/js/app/factories/socket.js')

// Controllers Angularjs.

// Directives Angularjs.

// Services Angularjs.

// Socket.
script(src="/socket.io/socket.io.js")
script(src='/js/app/controllers/socket.js')