//- jQuery (necessary for Bootstrap's JavaScript plugins).
script(src='/vendors/jquery.min.js')
//- Bootstrap's JavaScript.
script(src='/vendors/bootstrap/js/bootstrap.min.js')

//- Gritter plugin of notifications.
script(src='/vendors/gritter/js/jquery.gritter.min.js')

//- Socket.io.
script(src="/socket.io/socket.io.js")

//- easyRTC Library to use WebRTC.
script(src="/vendors/easyrtc/easyrtc.min.js")

//- Functions.
script(src='/js/functions.js')

//- Angularjs.
script(src='/vendors/angularjs/angular.min.js')
script(src='/vendors/angularjs/angular-resource.min.js')
script(src='/vendors/angularjs/angular-route.min.js')
script(src='/js/app/app.js')

//- Chosen select multiple.
script(src="/vendors/angularjs/chosen/vendor/chosen.jquery.js")

//- Factories Angularjs.
script(src='/js/app/factories/socket.js')
script(src='/js/app/factories/user.js')
script(src='/js/app/factories/room.js')
script(src='/js/app/factories/log.js')

//- Controllers Angularjs.
script(src='/js/app/controllers/socket.js')
script(src='/js/app/controllers/user.js')
script(src='/js/app/controllers/room.js')
script(src='/js/app/controllers/log.js')

//- Services Angularjs.
script(src='/js/app/services/webrtc.js')

//- Directives Angularjs.
script(src='/js/app/directives/ngfocus.js')
script(src='/vendors/angularjs/chosen/chosen.js')