//- Bootstrap.
link(rel='stylesheet', href='/vendors/bootstrap/css/bootstrap.min.css')

//- Gritter Plugin of notifications.
link(rel='stylesheet', href='/vendors/gritter/css/jquery.gritter.min.css')

//- Chosen select multiple.
link(rel='stylesheet', href='/vendors/angularjs/chosen/vendor/chosen.css')
link(rel='stylesheet', href='/vendors/angularjs/chosen/chosen-spinner.css')

//- General style of application.
link(rel='stylesheet', href='/css/style.css')