/*=General HTML.
 -------------------------------------------------------------- */
body {
	padding-top : 48px;
}

.cf-body-admin {
	padding-top : 70px;
}

footer {
	padding : 30px 0;
}

@media (min-width : 1200px) {
	.container {
		width : 1353px;
	}
}

/*=Header Page.
 -------------------------------------------------------------- */
.cf-navbar-admin {
	margin-top : 20px;
}

.cf-navbar {
	min-height    : 30px;
	margin-bottom : 0px;
}

.cf-navbar-nav {
	margin-right : 0px !important;
}

.cf-navbar-nav > li > a {
	line-height : 5px;
}

.cf-navbar-brand {
	padding     : 5px 5px;
	line-height : 3px;
}

.navbar > .container .cf-navbar-brand {
	margin-left : 9px;
}

/* Phone */
.cf-navbar-toggle {
	padding       : 4px 10px;
	margin-top    : 5px;
	margin-bottom : 3px;
	border        : 0px solid transparent;
	border-radius : 0px;
}

.cf-navbar-toggle .icon-bar {
	height : 3px;
}

.cf-state-badge {
	font-size     : inherit;
	border-radius : 0px;
	margin-left   : 3px;
}

/*=Body Page.
 -------------------------------------------------------------- */
.cf-title {
	border-bottom  : 1px solid #ddd;
	margin-bottom  : 15px;
	margin-top     : 6px;
	padding-bottom : 6px;
}

.cf-text-muted {
	color : #2e2e2e;
}

.cf-options {
	border-radius : 0px;
	position      : absolute;
	margin        : 2px;
	padding       : 3px 4px;
}

.cf-options span {
	display       : block;
	margin-top    : 3px;
	margin-bottom : 6px;
	line-height   : 1.2;
	font-size     : 14px;
	cursor        : pointer;
}

.cf-options span:active,
.cf-options span:hover {
	color : #a94442;
}

.cf-video .img-thumbnail {
	border-radius : 0px;
	padding       : 1px;
}

.cf-btn-success {
	background-color : rgb(68, 122, 68);
	border-color     : rgb(68, 122, 68);
}

.cf-btn-success.disabled,
.cf-btn-success[disabled] {
	background-color : #6d966d;
	border-color     : #6d966d;
}

.cf-options-header-panel {
	float : right;
}

.cf-options-header-panel span.badge {
	border-radius : 0px;
	margin-left   : 3px;
	cursor        : pointer;
}

/*=Footer.
 -------------------------------------------------------------- */
.cf-footer {
	text-align     : left;
	padding-top    : 40px;
	padding-bottom : 30px;
	margin-top     : 100px;
	color          : #777;
	text-align     : center;
	border-top     : 0px solid #e5e5e5;
}

/*=Modal.
 -------------------------------------------------------------- */
.cf-modal .modal-header {
	background-color : #a94442;
	color            : #fff;
}

.cf-modal .modal-header .close {
	opacity : 1;
	color   : #fff;
}

.cf-modal .modal-footer {
	padding    : 8px 14px 8px;
	margin-top : 0px;
	border-top : 0px solid #e5e5e5;
	text-align : left;
}

.cf-modal .modal-footer .btn-danger {
	background-color : #a94442;
	border-color     : #a94442;
}

/*=Chat.
 -------------------------------------------------------------- */
.cf-chats ul {
	padding  : 0px;
	height   : 395px;
	overflow : auto;
}

.cf-chats ul li {
	list-style    : none outside none;
	border-bottom : 1px solid #cfcfcf;
	padding       : 2px 0px 5px;
}

.cf-chats .cf-name {
	color           : rgb(68, 122, 68);
	text-decoration : inherit;
	font-size       : 10px;
}

.cf-chats .cf-name:hover,
.cf-chats .cf-name:focus {
	color           : #3d6d43;
	text-decoration : inherit;
}

.cf-chats .cf-datetime {
	color         : #adadad;
	font-size     : 9px !important;
	font-weight   : 400;
	display       : block;
	margin-bottom : -19px;
}

.cf-chats .cf-message {
	display    : block;
	text-align : left;
	font-size  : 11px;
	color      : #353535;
}

.cf-chat-form {
	padding          : 8px;
	background-color : #e0e0e0;
	clear            : both;
}

/*=Slider Down.
 -------------------------------------------------------------- */
.cf-slide-down {
	display          : none;
	width            : 100%;
	background-color : black;
	top              : 20px;
	position         : fixed;
	z-index          : 2000;
	color            : rgb(150, 150, 150);
	opacity          : 0.9;
}

.cf-slide-down .cf-container {
	height : 335px;
}

.cf-total-list-logs {
	margin-top    : 7px;
	margin-bottom : 7px;
}

.cf-btn-close {
	margin-bottom : 2px;
}

/*=Display Fullscreen.
 -------------------------------------------------------------- */
.cf-display-fullscreen {
	position : absolute;
	top      : 12px;
}

.cf-display-fullscreen video {
	padding : 0px;
}

#cf-client-fullscreen {
	width : 100%;
}

/*=Admin Flash Messages.
 -------------------------------------------------------------- */
#socket-admin-notifications {
	height           : 20px;
	overflow         : hidden;
	background-color : black;
	color            : rgb(196, 196, 196);
	font-size        : small;
	padding          : 2px;
}

#socket-admin-notifications small {
	margin-left : 16px;
}

#socket-admin-notifications .label {
	padding       : 3px;
	border-radius : inherit;
	font-size     : inherit;
}

/*=Gritter Plugin. Modifications.
 -------------------------------------------------------------- */
.cf-speakrtc .gritter-title {
	text-shadow : inherit;
}

.cf-speakrtc .gritter-item {
	font-size   : 13px;
	font-family : inherit;
}

.cf-speakrtc .gritter-title .label-success {
	background-color : #447a44;
}

.cf-speakrtc .gritter-title .label-info {
	background-color : #0b6e8b;
}

.cf-speakrtc .gritter-title .label-warning {
	background-color : #c7790a;
}

.cf-speakrtc .gritter-title .label-danger {
	background-color : #be3935;
}

/*=Chosen Angularjs Plugin. Modifications.
 -------------------------------------------------------------- */
.cf-speakrtc .chosen-choices {
	min-height    : 30px;
	padding       : 2px 5px;
	font-size     : 12px;
	line-height   : 1.5;
	border-radius : 3px;
}

.cf-speakrtc .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin : 5px 0;
}
