video {
	width  : inherit;
	height : inherit;
}

/*=Admin Flash Messages.
 -------------------------------------------------------------- */
#socket-admin-notifications {
	height           : 20px;
	overflow         : hidden;
	background-color : black;
	color            : rgb(196, 196, 196);
	font-size        : small;
	padding          : 1px;
}

#socket-admin-notifications .label {
	padding       : 3px;
	border-radius : inherit;
	font-size     : inherit;
}

/*=Gritter Plugin. Modifications.
 -------------------------------------------------------------- */
.cf-speakrtc .gritter-title {
	text-shadow : inherit;
}

.cf-speakrtc .gritter-item {
	font-size   : 13px;
	font-family : inherit;
}

.cf-speakrtc .gritter-title .label-success {
	background-color : #447a44;
}

.cf-speakrtc .gritter-title .label-info {
	background-color : #0b6e8b;
}

.cf-speakrtc .gritter-title .label-warning {
	background-color : #c7790a;
}

.cf-speakrtc .gritter-title .label-danger {
	background-color : #be3935;
}