extends ../layout

block content
	if (user)
		// p #{user.email}
	else
		p User not logged

	div(ng-controller="user_controller")
		p {{ users }}
		div(ng-repeat="user in users")
			p {{ user.email }}
			br
