//- Single Page of Room Model.

//-
	Templates by Routes.

//- List all rooms.
script(id="_rooms",type="text/ng-template")
	//- Include template to add room, Controller: addRoomCtrl.
	div(ng-include src=" '_add_room' ")

	//- Block List Rooms.
	br
	div
		label Rooms
		div(style="border:1px solid red;",ng-repeat="room in rooms")
			p {{ room.name }}
				a(ng-href="#/rooms/{{ room._id }}/{{ room.name }}")  | Access

			p Created: {{ room.created | date:'MM/dd/yyyy h:mm:ssa' }}

			p 0 Users connected.

			div(ng-switch,on="room.is_blocked")
				div(ng-switch-when="true") restricted
				div(ng-switch-when="false") open

			a(href="#",ng-show="room._owner._id == user._id || user.is_admin") edit

//- Get room by ID.
script(id="_room",type="text/ng-template")
	div(ng-show="room")
		label Room: {{ room.name }} - {{ room.created | date:'MM/dd/yyyy h:mm:ssa' }}

	button(type="submit",ng-click="hangupRoom(room._id)") Hangup
	button(type="submit",ng-click="reconnectRoom(room._id, room.total)") Reconnect
	video#self(style="float:left",width="300",height="200")
	video(ng-repeat="videoId in tagsVideo",id="{{ videoId }}",style="float:left",width="300",height="200")

	label Chat Room
		ul
			li(ng-repeat="chat in room.chats")
				span {{ chat.user.name }} - {{ chat.created | date:'medium'  }}
				br
				span {{ chat.msg }}

		form(name="form_send_chat_text")
			div
				div
					input#cf-input-message(type="text",placeholder="Type a message here...",ngfocus,ng-model="chat.message",required)
				div
					button(type="submit",ng-click="addMessageChat(chat)",onclick="jQuery('#cf-input-message').focus()",ng-disabled="!form_send_chat_text.$valid") Send

//-
	Templates without Routes.

//- Add Room.
script(id="_add_room",type="text/ng-template")
	//- Block Add Room.
	div(ng-controller="addRoomCtrl")
		label Add New Room
		form(name="form_add_room")
			label Name
			input(type="text",ng-model="room.name",required)
			| required

			br
			label Total of users can connecting
			input(type="number",ng-model="room.total",required)
			| required

			br
			input(type="checkbox",ng-model="room.is_blocked")
			| Blocked?

			br
			input(type="checkbox",ng-model="room.is_show")
			| Show?

			br
			select(multiple,ng-options="user._id as user.username for user in users",ng-model="room.users")

			br
			button(type="submit",ng-click="add(room)",ng-disabled="!form_add_room.$valid") Add Room
