//- Single Page of Room Model.

//-
	Templates by Routes.

//- List all rooms.
script(id="_rooms",type="text/ng-template")
	//- Block List Rooms.
	.col-lg-8.col-md-8.col-sm-8.col-xs-12
		.col-lg-12
			h5.cf-title
				strong Rooms.

		.col-lg-6.col-md-6.col-sm-12.col-xs-12.cf-client(ng-repeat="room in rooms | orderBy:'created'")
			.panel.panel-default
				.panel-heading
					h3.panel-title
						span.glyphicon.glyphicon-facetime-video
						a(ng-href="#/rooms/{{ room._id }}/{{ room.name }}")   {{ room.name }}

						.cf-options-header-panel(ng-show="user.is_admin")
							a(href="#/rooms/{{ room._id }}",title="Edit Room")
								span.badge
									span.glyphicon.glyphicon-edit.cf-text-muted
							span.badge(data-toggle="modal",data-target="#modal-room-{{ room._id }}")
								span.glyphicon.glyphicon-remove-circle.text-danger

				.panel-body
					small.text-muted(style="float: right;")  {{ room.created | date:'MM/dd/yyyy h:mm:ssa' }}
					div(ng-switch,on="room.is_blocked")
						div(ng-switch-when="true",style="color:#a94442;") restricted
						div(ng-switch-when="false",style="color:rgb(68, 122, 68);") open

					.cf-modal.modal(id="modal-room-{{ room._id }}",tabindex="-1",role="dialog",aria-labelledby="modal-room-{{ room._id }}Label",aria-hidden="true")
						.modal-dialog
							.modal-content
								.modal-header
									button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
									h4.modal-title Delete Room: {{ room.name }}
								.modal-footer
									button.btn.btn-danger.btn-sm(type="button",data-dismiss="modal",ng-controller="roomCtrl.delete as app",ng-click="app.delete(room)") Ok
									button.btn.btn-default.btn-sm(type="button",data-dismiss="modal") Close

	//- Include template to add room, Controller: roomCtrl.add.
	.col-lg-4.col-md-4.col-sm-4.col-xs-12(ng-include src=" '_add_room' ")

//- Edit Room.
script(id="_roomEdit",type="text/ng-template")
	//- Block Edit Room.
	.col-lg-8.col-md-8.col-sm-8.col-xs-12
		.col-lg-12
			h5.cf-title
				strong Edit Room - {{ room.name }}

		.col-lg-12
			form(role="form",name="form_edit_room",ng-controller="roomCtrl.edit")
				.form-group
					label Name*
					input.form-control.input-sm(type="text",ng-model="room.name",required)

				.form-group
					label Total of users can connecting*
					input.form-control.input-sm(type="number",ng-model="room.total",required)

				.checkbox
					label
						input(type="checkbox",ng-model="room.is_blocked")
						| Blocked?

				.checkbox
					label
						input(type="checkbox",ng-model="room.is_show")
						| Show?

				.form-group
					label Allow users*
					select.form-control(chosen,multiple,ng-options="user._id as user.username for user in users",ng-model="room.users",data-placeholder="Pick users")

				.form-group
					button.btn.btn-default(type="submit",ng-click="edit(room)",ng-disabled="!form_edit_room.$valid") Edit Room

	//- Include template to add room, Controller: roomCtrl.add.
	.col-lg-4.col-md-4.col-sm-4.col-xs-12(ng-include src=" '_add_room' ")

//- Get room by ID.
script(id="_room",type="text/ng-template")
	.col-lg-9.col-md-9.col-sm-9.col-xs-12
		.col-lg-12(ng-show="room")
			h5.cf-title
				strong Room:
				| {{ room.name }} -
				small.text-right.text-muted  {{ room.created | date:'MM/dd/yyyy h:mm:ssa' }}

		.col-lg-12(ng-show="fullscreen")
			.cf-display-fullscreen.col-lg-3.col-md-3.col-sm-3.col-xs-12
				.cf-panel-body
					span.cf-options.badge(ng-show="roomOptions.buttons")
						span.glyphicon.glyphicon-log-out.cf-text-muted(title="Disconnect",ng-click="disconnectRoom(room._id)",ng-show="roomOptions.connect")
						span.glyphicon.glyphicon-log-in.text-danger(title="Reconnect",ng-click="reconnectRoom(room._id, room.total)",ng-show="!roomOptions.connect")
						span.glyphicon.glyphicon-facetime-video.cf-text-muted(title="Disable Camera",ng-click="enableCamera(false)",ng-show="cameraOptions.enable")
						span.glyphicon.glyphicon-facetime-video.text-danger(title="Enable Camera",ng-click="enableCamera(true)",ng-show="!cameraOptions.enable")

					.cf-video
						video#cf-self-fullscreen.img-thumbnail(autoplay)

			video#cf-client-fullscreen.img-thumbnail(autoplay)

		#cf-self-stream-block.col-lg-3.col-md-3.col-sm-3.col-xs-12
			.cf-panel-body
				span.cf-options.badge
					span.glyphicon.glyphicon-log-out.cf-text-muted(title="Disconnect",ng-click="disconnectRoom(room._id)",ng-show="roomOptions.connect")
					span.glyphicon.glyphicon-log-in.text-danger(title="Reconnect",ng-click="reconnectRoom(room._id, room.total)",ng-show="!roomOptions.connect")
					span.glyphicon.glyphicon-facetime-video.cf-text-muted(title="Disable Camera",ng-click="enableCamera(false)",ng-show="cameraOptions.enable")
					span.glyphicon.glyphicon-facetime-video.text-danger(title="Enable Camera",ng-click="enableCamera(true)",ng-show="!cameraOptions.enable")

				.cf-video
					video#self.img-thumbnail(src="#")

		.col-lg-3.col-md-3.col-sm-3.col-xs-12.cf-client(ng-repeat="videoId in tagsVideo",id="client-{{ videoId }}",style="display:none;")
			.cf-panel-body
				span.cf-options.badge
					span.cf-client-button-fullscreen.glyphicon.glyphicon-fullscreen.cf-text-muted(title="Fullscreen",ng-click="setFullscreen(videoId)",data-cf-fullscreen-state="false")

				.cf-video
					video.img-thumbnail(id="{{ videoId }}")

	.col-lg-3.col-md-3.col-sm-3.col-xs-12
		.col-lg-12(ng-show="room")
			h5.cf-title
				strong Chat Room.

		.col-lg-12
			.cf-panel-body
				.cf-chats
					.input-group.input-group-sm
						input.form-control.input-sm(type="text",ng-model="filterName",placeholder="Search message ...")
						span.input-group-addon
							span.glyphicon.glyphicon-search

					ul
						li(ng-repeat="chat in room.chats | filter: filterName")
							a.cf-name(href="#") {{ chat.user.name }}
							span.cf-datetime  at {{ chat.created | date:'medium'  }}
							br
							span.cf-message {{ chat.msg }}

				form.cf-chat-form(name="form_send_chat_text")
					.input-group.has-success
						input.cf-input-message.form-control.input-sm(type="text",placeholder="Type a message here...",ngfocus,ng-model="chat.message",required)
						span.input-group-btn
							button.btn.btn-success.cf-btn-success.btn-sm(type="submit",ng-click="addMessageChat(chat)",onclick="jQuery('.cf-input-message').focus()",ng-disabled="!form_send_chat_text.$valid") Send

//-
	Templates without Routes.

//- Add Room.
script(id="_add_room",type="text/ng-template")
	//- Block Add Room.
	.col-lg-12
		h5.cf-title
			strong Add New Room.

	.col-lg-12
		form(role="form",name="form_add_room",ng-controller="roomCtrl.add as app")
			.form-group
				label Name*
				input.form-control.input-sm(type="text",ng-model="app.room.name",required)

			.form-group
				label Total of users can connecting*
				input.form-control.input-sm(type="number",ng-model="app.room.total",required)

			.checkbox
				label
					input(type="checkbox",ng-model="app.room.is_blocked")
					| Blocked?

			.checkbox
				label
					input(type="checkbox",ng-model="app.room.is_show")
					| Show?

			.form-group
				label Allow users*
				select.form-control(chosen,multiple,ng-options="user._id as user.username for user in app.users",ng-model="app.room.users",data-placeholder="Pick users")

			.form-group
				button.btn.btn-default(type="submit",ng-click="app.add(app.room)",ng-disabled="!form_add_room.$valid") Add Room
